<template>
  <div class="home">
    <MCAddress
      :address="from"
      label="From"
      @select="selectedAddress = from"
    />
    <MCAddress
      :address="to"
      label="To"
      @select="selectedAddress = to"
    />
    <MCAddressForm
      :address="selectedAddress"
      v-if="selectedAddress !== ''"
    />
    <Map
      :lat="lat"
      :lon="lon"
    />
    <v-btn @click="fetchNominatimResult">
      Fetch {{from.city}}
    </v-btn>
    <table>
      <tr
        v-for="result in results"
        :key="result.osm_id"
        @mouseover="updateLatLon(result)"
      >
        <td>{{result.class}}</td>
        <td>{{result.display_name}}</td>
        <td>{{result.lat}}</td>
        <td>{{result.lon}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'

import MCAddress from '@/components/MCAddress.vue'
import MCAddressForm from '@/components/MCAddressForm.vue'
import Map from '@/components/Map.vue'
import myStore from '@/store/myStore'
import { getQuery } from '../helpers/getQuery'
import { fetchNominatimResult } from '../helpers/fetchNominatimResult'

const OVERPASS_URL = 'http://overpass-api.de/api/interpreter?'

export default {
  name: 'home',
  components: {
    MCAddress,
    MCAddressForm,
    Map
  },
  data () {
    return myStore
  },
  methods: {

    async fetchNominatimResult () {
      this.results = await fetchNominatimResult(this.from.city)
    },
    async fecthOverpassData (bbox) {
      const response = await axios.get(OVERPASS_URL + getQuery(bbox))
      this.overpassResult = response.data
    },
    updateLatLon (result) {
      this.lat = result.lat
      this.lon = result.lon
      this.currentDisplayName = result.display_name
    }
  }
}
</script>
